<!DOCTYPE html>
<!-- Student Name:   -->
<html lang="en">
  <head>
    <title>ADB Assignment 02</title>
    <meta charset="utf-8"/>
    <style>
      form {text-align: center;}
     
      p {
        font-size: 20px;
        font-weight: bold;
        color: purple;
      }
      h3 {
        font-variant: petite-caps;
        color: darkred;
        font-size: x-large;
      }
      
      input{
        border-radius: 10px;
        padding: 13px;
        color: darkred;
        font-weight: bold;
        font-size: large;
      }
      </style>
  </head>
  <body style="background-color: beige;"> 
    <form> 
      <h2> Name: Dannasri Srinivasan </h2>
      <h2> ID: 1001698730 </h2>
      <h2> Assignment 02 </h2>
      <a href="/viewEarthquakes"><input type="button" value = "View All Earthquakes"/></a>
      <a href="/largestSmallestQuakes"><input type="button" value = "Largest and Smallest Quakes"/></a>
      <a href="/twolatlong"><input type="button" value = "Find between two lat and lon"/></a>
      <a href="/dateTimeNet"><input type="button" value = "Search with date time net"/></a>
      <a href="/updateMagnitude"><input type="button" value = "Update Magnitude"/></a>


<!-- 
      <a href="/searchMagnitude"><input type="button" value = "Search With Magnitude"/></a>
      <a href="/dateMagnitudeRange"><input type="button" value = "Search with date and magnitude Range" /></a>
      <a href="/latlonkm"><input type="button" value = "Search with latitude longitude and KM" /></a>
      <a href="/moreOftenNightDay"><input type="button" value = "Search for more often Quakes in Night / Day"/></a>
      <a href="/clusters"><input type="button" value = "Find clusters of Earthquakes"/></a>
      <a href="/magNet"><input type="button" value = "Search largest with Mag and Net"/></a>
      <a href="/compareLatLong"><input type="button" value = "Comapre lat and long for two places"/></a> -->
     

      </form>
    
  </body>
</html>
